.top-user{
    background-color: #FFFFFF;
    padding: 20px 0;
    clear: both;
    min-width: 50px;
}

.list{
    display: block;
    font-size: 14px;
}
.list .yummy-toolbar{
    box-sizing: border-box;
    /*padding: px;*/
    position: relative;
    z-index: 10;
    background: #dddddd;
}
.list .yummy-toolbar .ym-clearbox{
    left: 0;
    right: 0;
}

.list .yummy-toolbar .ym-clearbox ul{
    margin: 0;
    padding: 0;
    font-size: 14px;
    background: #ddd;
    overflow: hidden;
}
.list .yummy-toolbar .ym-clearbox ul li{
    list-style: none;
}


.list .yummy-toolbar .ym-clearbox ul li a{
    position: relative;
    display: block;
    padding: 15px 20px;
    float: left;
    color: #666;
    height: 45px;
    box-sizing: border-box;
}
.list .yummy-toolbar .ym-clearbox ul li a.current{
    color: #c00;
    border-bottom: #c00 1px solid;
    background: #fff;
}
.list .btn-more{
    text-align: center;
    padding: 5px 0;
    background: #049ec5;
    display: inline-block;
    border-radius: 2px;
    cursor: pointer;
    width: 100%;
    color: white;
}


.recommendation{
    border: 1px solid #d6d6d6;
    box-sizing: border-box;
    display: block;
    font-size: 14px;
}

.recommendation .re-header{
    background-color: #ffffff;
    padding-left: 20px;
}

.re-header .re-title{
    font-family: Arial;
    font-size: 20px;
}
div.f-content{
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 10px;
}
div.f-content .shop-title{
    font-size: 16px;
    font-weight: 700;
}
div.f-content a{
    color: #333;
    text-decoration: none;
    outline: 0;
}
div.f-content p i.fa-star{
    font-size: 16px;
    color: #f9c200;
    display: inline-block;
    margin-right: 2px;
}
div.f-content p i.fa-star-o{
    font-size: 16px;
    color: #c2c2c2;
    display: inline-block;
    margin-right: 2px;
}
div.f-content ul{
    margin: 0;
    padding: 0;
}
div.items-review{
    clear: both;
    border-top: #f6f6f6 1px solid;
    overflow: hidden;
    padding: 4px;
    font-size: 14px;
}
div.items-review .avatar{
    float: left;
    width: 30px;
    margin-right: 6px;
    position: relative;
}
div.items-review .users-content{
    color: #666;
    height: 32px;
    overflow: hidden;
    line-height: 1.4em;
    font-size: 12px;
}
.block-with-text {
    position: relative;
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
    margin-left: 5px!important;
}
.block-with-text b{
    font-weight: 1000;
}
img.img-product{
    height: 142px;
}
.follow{
    float: right;
    background: #ddd;
    padding: 1px 5px;
}

@media screen and (min-width: 768px) {
    .recommendation{
        font-size: 10px;
    }
}

.detail h1{
    font-weight: 700;
    float: left;
    padding: 5px 0 2px;
    font-size: 20px;
    line-height: 1.2em;
    text-shadow: 0 1px 1px #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-family: Arial;
    color: #333;
}

.detail .category-items a{
    color: #888;
    text-decoration: none;
    font-size: 12px;
}
.res-rate{
    font-size: 30px;
    color: yellow;
}

.res-address span{
    color: #555;
    line-height: 20px;
    text-overflow: ellipsis;
    clear: both;
    clear: both;
    text-transform: capitalize;
    overflow: hidden;
}
@media (max-width: 768px) {
    .container{
        width: 100%;
        max-width: none;
    }
}

.fd-list{
    font-size: 14px;
    background-color: #ffffff;
}

.fd-list .re-header{
    padding-left: 20px;
    border-bottom: 1px solid #d6d6d6;
}
.fd-item{
    padding: 10px;
}
.fd-detail p{
   color: #464646;
    font-size: 16px;
    font-family: Arial;
    font-weight: 700;
}
.fd-item-1{
    border-bottom: 1px solid #f5f5f5;
}
img.img-food{
    max-height: 70px;
    border-radius: 2px;
}
.answer{
    background: #ffffff;
    position: relative;
    padding: 15px 15px 0;
    margin: 20px 0 8px;
}
.list-reviews{
    min-height: 150px;
}
.profile-u{
    border-bottom: #f6f6f6 1px solid;
    margin-bottom: 5px;}
.answer .review-user{
    position: relative;
    padding: 0 0 5px;
}
.fd-clearbox{
    box-sizing: border-box;
    float: left;
}
.review-user .re-avatar{
    width: 45px;
    margin-right: 10px;
    float: left;
}
.re-avatar a.ru-avatar{
    display: block;
    float: left;
    margin: 3px 5px 5px 0;
    position: relative;
    width: 45px;
    height: 45px;
}
a.ru-avatar img{
    width: 45px;
    height: 45px;
    border-radius: 100px;
}
.user-prof{
    float: left;
}
.answer .row {
    border-bottom: #f6f6f6 1px solid;
}
.ru-row{
    overflow: hidden;
    margin: 3px 0 5px;
    font-size: 14px;
}
.ru-name{
    font-weight: 700;
    overflow: hidden;
    display: block;
    white-space: nowrap;
    text-transform: capitalize;
    text-overflow: ellipsis;
    float: left;
    padding: 0 3px 0 0;
    box-sizing: border-box;
    color: #333;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
}
.ru-stats{
    color: #666;
    font-size: 11px;
    clear: both;
}
.re-rate{
    position: absolute;
    right: 10px;
    top:20px;
    color: yellow;
    text-align: center;
    display: block;
    overflow: hidden;
    line-height: 32px;
}
.re-rate p{
    font-size: 20px;
}

.review-change{
    position: absolute;
    right: 10px;
    top: 3px;
    overflow: hidden;
    color: #ccc;
}

.review-change a{
    color: #ccc;
    text-decoration: none;
    padding-right: 10px;
}
.re-des{
    position: relative;
    float: none;
}

.re-detail-des{
    /*max-height: 250px;*/
    /*overflow: hidden;*/
    position: relative;
    padding-bottom: 1.38em;
    margin: 0 0 5px;
    white-space: pre-line;
    font-size: 14px;
    line-height: 1.4em;
    word-wrap: break-word;
    color: #333;
}
.re-photo{
    position: relative;
    margin: 1px 0 0;
    box-sizing: border-box;
}
.re-photo .item-photo{
    position: relative;
    width: 25%;
    display: block;
    float: left;
    overflow: hidden;
    max-height: 150px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    box-sizing: border-box;
    background: #e9ebee;
}
.re-photo .item-photo img{
    /*position: absolute;*/
    border-radius: 0;
}
.review-comment{
    box-sizing: border-box;
    float: left;
    width: 100%;
}
.review-comment>.fc-toolbar{
    margin: 0 0 10px;
    box-sizing: border-box;
    float: left;
    width: 100%;
}
.fc-toolbar .icon-comment{
    display: block;
    float: left;
    margin: 0 20px 0 0;
}
.icon-comment a{
    display: block;
    color: #7f7f7f;
    padding: 5px 0 0;
    text-decoration: none;
    outline: 0;
}
.fc-comment{
    /*position: relative;*/
    background: #f9f9f9;
    min-width: 100%;
}
.fc-comment .rv-items{
    padding: 15px;
    margin: 0 -15px;

}
.fc-comment .rv-items .form-cmm{
    position: relative;
    float: none;
    margin: 0 0 10px;
}
.fc-comment .rv-items .form-cmm img{
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 100px;
    float: left;
}
.fc-input{
    margin-left: 42px;
    border: 1px solid #e2e2e2;
    position: relative;
    background: #fff;
    padding: 8px;
}
.fc-input textarea{
    width: 100%;
    outline: 0;
    border: none;
    box-sizing: border-box;
    margin: 0;
    max-width: 100%;
    line-height: 1.38em;
    display: block;
    z-index: 2;
    position: relative;
}
.fdi-comm{
    position: relative;
    float: none;
    /*margin: 10px;*/
}
.fdi-comm img{
    width: 32px;
    height: 32px;
    float: left;
    display: block;
    margin: 0 10px 0 0;
    position: relative;
    border-radius: 100px;
}

.fdi-comm .fdi-comm-right{
    overflow: hidden;
    margin-left: 37px;
    padding-right: 15px;
}
.fdi-comm-right a.fc-username{
    margin: 0 5px 0 0;
    font-weight: 700;
    color: #333;
    outline: 0;
    text-decoration: none;
}

.stats .foody-toolbar{
    position: relative;
    z-index: 10;
}
.foody-toolbar>div{
    background: #ddd;
    padding: 0;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    height: 46px;
}
.microsite-sumary-new{
    clear: both;
}
.microsite-box-rating-new{
    overflow: hidden;
}

.foody-toolbar .ratings-boxes{
    border: #eee solid 1px;
    padding: 0;
    background: #fff;
    overflow: hidden;
    border-radius: 2px;
}
.foody-toolbar .ratings-boxes .summary{
    padding: 20px 0 15px;
    font-size: 16px;
    overflow: hidden;
    border-bottom: #f6f6f6 1px solid;
    text-align: center;
}
.foody-toolbar .ratings-boxes .ratings{
    color: yellow;
    clear: both;
    text-align: center;
    border-top: #f5f5f5 1px solid;
}
.foody-toolbar .ratings-boxes .ratings p{
    font-size: 23px;
}
.ratings-boxes-review{
    margin-top: 10px;
    text-align: center;
    overflow: hidden;
    clear: both;
}
.ratings-boxes-review a{
    padding: 10px 0;
    font-size: 14px;
    background: #049ec5;
    border-radius: 2px;
    color: #fff;
    overflow: hidden;
    display: block;
}
.vote-star{
    color: yellow;
}

.res-active{
    background: #28a745;
    color: #fff !important;
}

.descriptions{
    max-height: 300px;
}
.descriptions img{
    max-height: 300px;
    width: 100%;
}

.search-box-ca a{
    text-decoration: none;
    color: #0b0b0b;
}
.search-active {
    background-color: #f6f6;

}

a.remove-comment-btn{
    float: right;
    color: #ccc !important;
    font-size: 15px;
}

.form-img{
    position: relative;
}
.form-image{
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}
.form-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: lightblue;
}
.form-img:hover .form-overlay {
    opacity: 1;
}

.form-icon {
    color: white;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}