<section class="light-bg booking-details_wrap">
  <div class="container">
    <div class="row justify-content-center">
      <%= render "users/user_left" %>
      <div class="col-8">
        <div class="row list user-follow-list">
          <div class="col-sm-12 pt-2">
            <% if @restaurants%>
              <div class="row" id="list_res">
              <% @restaurants.each do |restaurant|%>
                    <%= render partial: "users/restaurant", locals: {restaurant: restaurant} %>
              <% end %>

            </div>

              <div class="row">
                <div class="col-lg-12">
                  <%= will_paginate @restaurants, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
                </div>
              </div>
            <% else %>
              <div class="row">
                <div class="col-12 mt-3" style="text-align: center">
                  <h6>Chưa lưu</h6>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>