<div class="container" style="margin-bottom: 150px;">
    <div class="container">
        <div class="row profile">
            <div class="col-md-3">
                <div class="profile-sidebar">
                    <div class="profile-userpic">
                        <img id="imgLeftProfileMemberAvatar" src="https://media.foody.vn/usr/g1141/11402933/avt/c200x200/foody-avatar-587-636950922281178912.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            Nguyen Nam
                        </div>
                    </div>

                    <div class="profile-usermenu">
                        <ul class="user-nav">
                            <li class="active" id="proInfo">
                                <a href="/tai-khoan">
                                    <i class="fa fa-pencil-square-o "></i>
                                    Thông tin cơ bản
                                </a>
                            </li>
                            <li id="proChangePass">
                                <a href="/tai-khoan/doi-mat-khau">
                                    <i class="fa fa-user"></i>
                                    Đổi mật khẩu
                                </a>
                            </li>
                            <li id="proChangeAvatar">
                                <a href="/tai-khoan/doi-hinh-dai-dien">
                                    <i class="fa fa-photo"></i>
                                    Cập nhật hình đại diện
                                </a>
                            </li>

                            <li id="proManageAddress">
                                <a href="/tai-khoan/quan-ly-dia-chi">
                                    <i class="fa fa-cog"></i>
                                    Quản lý địa chỉ
                                </a>
                            </li>
                            <li>
                                <a href="/dang-xuat">
                                    <i class="fa fa-sign-out"></i>
                                    Đăng xuất
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="profile-content">


                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">


                            <form id="signupform" action="/tai-khoan" class="form-horizontal ng-pristine ng-valid" method="post" role="form" novalidate="novalidate">        <div class="form-group">
                                <label class="control-label col-md-4"></label>
                                <div class="col-md-8">
                                    <h3 style="margin:0">Thông tin tài khoản</h3>
                                </div>
                            </div>
                                <input name="__RequestVerificationToken" type="hidden" value="IGUUgr2InkxQ6fNMHe1n4uyGiB5XGjqwGsurk1bttGBkZxoCnYSZhGzL6Lvy7DHlqobNt4OMQHGLOUJ6Q55-3z0rmoMFhe6oP-gHlzd9ZWYSl9cIObzx5GcZmHci-c-W0">    <div class="form-group">
                                    <label class="control-label col-md-4">Tên</label>
                                    <div class="col-md-8">
                                        <input class="form-control" id="FirstName" name="FirstName" placeholder="Tên" type="text" value="nam">
                                        <span class="field-validation-valid" data-valmsg-for="FirstName" data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Họ</label>
                                    <div class="col-md-8">
                                        <input class="form-control" id="LastName" name="LastName" placeholder="Họ" type="text" value="">
                                        <span class="field-validation-valid" data-valmsg-for="LastName" data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Email</label>
                                    <div class="col-md-8" style="padding-top: 5px;">
                                        star9xkute@gmail.com
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Tình trạng hôn nhân</label>
                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <select class="form-control form-control-cbb form-control-cbb-status" id="Status" name="Status"><option selected="selected" value="">- Lựa chọn -</option>
                                                    <option value="1">Độc thân</option>
                                                    <option value="2">Đã cưới</option>
                                                    <option value="3">Phức tạp</option>
                                                    <option value="4">Đang hẹn hò</option>
                                                    <option value="5">Đã đính hôn</option>
                                                    <option value="6">Quan hệ mở</option>
                                                    <option value="7">Góa</option>
                                                    <option value="8">Ly dị</option>
                                                    <option value="9">Ly thân</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Giới tính</label>
                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <select class="form-control form-control-cbb form-control-cbb-gender" id="Gender" name="Gender"><option value="">- Lựa chọn -</option>
                                                    <option value="M">Nam</option>
                                                    <option selected="selected" value="F">Nữ</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">

                                    <label class="control-label col-md-4">Ngày sinh</label>

                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                                <select class="form-control form-control-cbb form-control-cbb-gender" data-val="true" data-val-number="The field DateOfBirthDay must be a number." id="DateOfBirthDay" name="DateOfBirthDay"><option selected="selected" value="0">Ngày</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                    <option value="13">13</option>
                                                    <option value="14">14</option>
                                                    <option value="15">15</option>
                                                    <option value="16">16</option>
                                                    <option value="17">17</option>
                                                    <option value="18">18</option>
                                                    <option value="19">19</option>
                                                    <option value="20">20</option>
                                                    <option value="21">21</option>
                                                    <option value="22">22</option>
                                                    <option value="23">23</option>
                                                    <option value="24">24</option>
                                                    <option value="25">25</option>
                                                    <option value="26">26</option>
                                                    <option value="27">27</option>
                                                    <option value="28">28</option>
                                                    <option value="29">29</option>
                                                    <option value="30">30</option>
                                                    <option value="31">31</option>
                                                </select>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                                <select class="form-control form-control-cbb form-control-cbb-gender" data-val="true" data-val-number="The field DateOfBirthMonth must be a number." id="DateOfBirthMonth" name="DateOfBirthMonth"><option selected="selected" value="0">Tháng</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                </select>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                                <select class="form-control form-control-cbb form-control-cbb-gender" data-val="true" data-val-number="The field DateOfBirthYear must be a number." id="DateOfBirthYear" name="DateOfBirthYear"><option selected="selected" value="0">Năm</option>
                                                    <option value="1949">1949</option>
                                                    <option value="1950">1950</option>
                                                    <option value="1951">1951</option>
                                                    <option value="1952">1952</option>
                                                    <option value="1953">1953</option>
                                                    <option value="1954">1954</option>
                                                    <option value="1955">1955</option>
                                                    <option value="1956">1956</option>
                                                    <option value="1957">1957</option>
                                                    <option value="1958">1958</option>
                                                    <option value="1959">1959</option>
                                                    <option value="1960">1960</option>
                                                    <option value="1961">1961</option>
                                                    <option value="1962">1962</option>
                                                    <option value="1963">1963</option>
                                                    <option value="1964">1964</option>
                                                    <option value="1965">1965</option>
                                                    <option value="1966">1966</option>
                                                    <option value="1967">1967</option>
                                                    <option value="1968">1968</option>
                                                    <option value="1969">1969</option>
                                                    <option value="1970">1970</option>
                                                    <option value="1971">1971</option>
                                                    <option value="1972">1972</option>
                                                    <option value="1973">1973</option>
                                                    <option value="1974">1974</option>
                                                    <option value="1975">1975</option>
                                                    <option value="1976">1976</option>
                                                    <option value="1977">1977</option>
                                                    <option value="1978">1978</option>
                                                    <option value="1979">1979</option>
                                                    <option value="1980">1980</option>
                                                    <option value="1981">1981</option>
                                                    <option value="1982">1982</option>
                                                    <option value="1983">1983</option>
                                                    <option value="1984">1984</option>
                                                    <option value="1985">1985</option>
                                                    <option value="1986">1986</option>
                                                    <option value="1987">1987</option>
                                                    <option value="1988">1988</option>
                                                    <option value="1989">1989</option>
                                                    <option value="1990">1990</option>
                                                    <option value="1991">1991</option>
                                                    <option value="1992">1992</option>
                                                    <option value="1993">1993</option>
                                                    <option value="1994">1994</option>
                                                    <option value="1995">1995</option>
                                                    <option value="1996">1996</option>
                                                    <option value="1997">1997</option>
                                                    <option value="1998">1998</option>
                                                    <option value="1999">1999</option>
                                                    <option value="2000">2000</option>
                                                    <option value="2001">2001</option>
                                                    <option value="2002">2002</option>
                                                    <option value="2003">2003</option>
                                                    <option value="2004">2004</option>
                                                    <option value="2005">2005</option>
                                                    <option value="2006">2006</option>
                                                    <option value="2007">2007</option>
                                                    <option value="2008">2008</option>
                                                    <option value="2009">2009</option>
                                                    <option value="2010">2010</option>
                                                    <option value="2011">2011</option>
                                                    <option value="2012">2012</option>
                                                    <option value="2013">2013</option>
                                                    <option value="2014">2014</option>
                                                    <option value="2015">2015</option>
                                                    <option value="2016">2016</option>
                                                    <option value="2017">2017</option>
                                                    <option value="2018">2018</option>
                                                    <option value="2019">2019</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">

                                    <label class="control-label col-md-4">Mô tả bản thân</label>

                                    <div class="col-md-8">
                                        <textarea class="form-control" cols="20" id="Description" name="Description" rows="3"></textarea>
                                        <span class="field-validation-valid" data-valmsg-for="Description" data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                                <div class="form-group">

                                    <label class="control-label col-md-4">Ẩn trang cá nhân</label>
                                    <div class="col-md-8" style="padding-top:7px;">
                                        <input id="IsPrivate" name="IsPrivate" type="checkbox" value="true"><input name="IsPrivate" type="hidden" value="false">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4"></label>
                                    <div class="col-md-8">
                                        <div class="submit-profile"><input type="submit" value="Lưu thay đổi" id="bt_submit" class="btn btn-primary" style="width: 200px;"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-2"></div>
                    </div>

                    <script type="text/javascript">

                        $(function () {
                            var errorItem =0;
                            switch (errorItem)
                            {
                                case 1:
                                    $("#FirstName").focus();
                                    break;
                                case 2:
                                    $("#LastName").focus();
                                    break;
                                case 3:
                                    $("#Email").focus();
                                    break;
                                case 4:
                                    $("#Description").focus();
                                    break;
                                default:
                                    break;
                            }
                            $('#signupform').submit(function () {
                                var value = "";
                                var valueFormat = "";

                                value = $("#FirstName").val();
                                valueFormat = CommonHelper.NoTag(value);
                                $("#FirstName").val(valueFormat);

                                value = $("#LastName").val();
                                valueFormat = CommonHelper.NoTag(value);
                                $("#LastName").val(valueFormat);

                                value = $("#Description").val();
                                valueFormat = CommonHelper.NoTag(value);
                                $("#Description").val(valueFormat);

                                value = $("#Email").val();
                                valueFormat = CommonHelper.NoScriptTag(value);
                                $("#Email").val(valueFormat);

                            });
                        });
                    </script>

                </div>
            </div>
        </div>
    </div>
</div>