<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Restaurant</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Edit Restaurant
      </div>
      <%= render "admin/restaurants/form_edit"%>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>