<div>
    <div class="swiper-container">
        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <a href="images/reserve-slide2.jpg" class="grid image-link">
                    <img src="images/reserve-slide2.jpg" class="img-fluid" alt="#">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="images/reserve-slide1.jpg" class="grid image-link">
                    <img src="images/reserve-slide1.jpg" class="img-fluid" alt="#">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="images/reserve-slide3.jpg" class="grid image-link">
                    <img src="images/reserve-slide3.jpg" class="img-fluid" alt="#">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="images/reserve-slide1.jpg" class="grid image-link">
                    <img src="images/reserve-slide1.jpg" class="img-fluid" alt="#">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="images/reserve-slide2.jpg" class="grid image-link">
                    <img src="images/reserve-slide2.jpg" class="img-fluid" alt="#">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="images/reserve-slide3.jpg" class="grid image-link">
                    <img src="images/reserve-slide3.jpg" class="img-fluid" alt="#">
                </a>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-white"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
    </div>
</div>

<section class="reserve-block">
    <div class="container">
        <div class="row">
            <div class="col-12" style="text-align: center">
                <h2 class="yummy-logo">Yummy</h2>
            </div>
        </div>
    </div>
</section>

<section class="light-bg booking-details_wrap">
    <div class="container">
        <div class="row recommendation mb-4">
            <div class="col-sm-12 re-header p-2">
                <div class="row">
                    <div class="col-sm-6 re-title">
                        <b>Gợi ý cho bạn</b>
                    </div>
                    <div class="col-sm-6"></div>
                </div>
            </div>
            <div class="col-sm-12 pt-2">
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3 featured-responsive">
                        <div class="featured-place-wrap">
                            <a href="detail.html">
                                <img src="https://images.foody.vn/res/g67/664448/prof/s576x330/foody-upload-api-foody-mobile-sun-tea-1-190103161518.jpg" class="img-fluid img-product" alt="#">
                                <div class="featured-title-box f-content">
                                    <a href="#" class="shop-title">
                                        Tiger Sugar - Đường Nâu Sữa Đài Loan - Thái Phiên
                                    </a>
                                    <ul>
                                        <li>
                                            <p>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                            </p>
                                        </li>
                                        <li>
                                            <span class="icon-location-pin"></span>
                                            <p>So 84 Duy Tan, Ha noi</p>
                                        </li>
                                    </ul>
                                    <div class="items-review">
                                        <div class="avatar">
                                            <a href="#">
                                                <img class="img-profile rounded-circle img-profile" src="images/featured1.jpg">
                                            </a>
                                        </div>
                                        <div class="users-content block-with-text">
                                            <a href="#" target="_blank"><b>Nam Nguyen</b></a>
                                            <a href="" target="_blank">
                                                TigerSugar là hãng trà sữa đầu tiên làm mình mê mẩn đến như thế!
                                                Trân châu ở đây k giống như những chỗ khac đâu ạ.
                                                Mềm dẻo cực kì, kết hợp với sữa tươi thì đỉnh luôn ấy! Rate 10/10 ❤️❤️🤤
                                            </a>
                                        </div>

                                    </div>
                                    <div class="items-review">
                                        <span>3 Reviews</span>
                                        <a href="#" class="follow">
                                            <i class="fa fa-bookmark"></i>
                                            Lưu
                                        </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 featured-responsive">
                        <div class="featured-place-wrap">
                            <a href="detail.html">
                                <img src="https://images.foody.vn/res/g67/664448/prof/s576x330/foody-upload-api-foody-mobile-sun-tea-1-190103161518.jpg" class="img-fluid img-product" alt="#">
                                <div class="featured-title-box f-content">
                                    <a href="#" class="shop-title">
                                        Tiger Sugar - Đường Nâu Sữa Đài Loan - Thái Phiên
                                    </a>
                                    <ul>
                                        <li>
                                            <p>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                            </p>
                                        </li>
                                        <li>
                                            <span class="icon-location-pin"></span>
                                            <p>So 84 Duy Tan, Ha noi</p>
                                        </li>
                                    </ul>
                                    <div class="items-review">
                                        <div class="avatar">
                                            <a href="#">
                                                <img class="img-profile rounded-circle img-profile" src="images/featured1.jpg">
                                            </a>
                                        </div>
                                        <div class="users-content block-with-text">
                                            <a href="#" target="_blank"><b>Nam Nguyen</b></a>
                                            <a href="" target="_blank">
                                                TigerSugar là hãng trà sữa đầu tiên làm mình mê mẩn đến như thế!
                                                Trân châu ở đây k giống như những chỗ khac đâu ạ.
                                                Mềm dẻo cực kì, kết hợp với sữa tươi thì đỉnh luôn ấy! Rate 10/10 ❤️❤️🤤
                                            </a>
                                        </div>

                                    </div>
                                    <div class="items-review">
                                        <span>3 Reviews</span>
                                        <a href="#" class="follow">
                                            <i class="fa fa-bookmark"></i>
                                            Lưu
                                        </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 featured-responsive">
                        <div class="featured-place-wrap">
                            <a href="detail.html">
                                <img src="https://images.foody.vn/res/g67/664448/prof/s576x330/foody-upload-api-foody-mobile-sun-tea-1-190103161518.jpg" class="img-fluid img-product" alt="#">
                                <div class="featured-title-box f-content">
                                    <a href="#" class="shop-title">
                                        Tiger Sugar - Đường Nâu Sữa Đài Loan - Thái Phiên
                                    </a>
                                    <ul>
                                        <li>
                                            <p>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                            </p>
                                        </li>
                                        <li>
                                            <span class="icon-location-pin"></span>
                                            <p>So 84 Duy Tan, Ha noi</p>
                                        </li>
                                    </ul>
                                    <div class="items-review">
                                        <div class="avatar">
                                            <a href="#">
                                                <img class="img-profile rounded-circle img-profile" src="images/featured1.jpg">
                                            </a>
                                        </div>
                                        <div class="users-content block-with-text">
                                            <a href="#" target="_blank"><b>Nam Nguyen</b></a>
                                            <a href="" target="_blank">
                                                TigerSugar là hãng trà sữa đầu tiên làm mình mê mẩn đến như thế!
                                                Trân châu ở đây k giống như những chỗ khac đâu ạ.
                                                Mềm dẻo cực kì, kết hợp với sữa tươi thì đỉnh luôn ấy! Rate 10/10 ❤️❤️🤤
                                            </a>
                                        </div>

                                    </div>
                                    <div class="items-review">
                                        <span>3 Reviews</span>
                                        <a href="#" class="follow">
                                            <i class="fa fa-bookmark"></i>
                                            Lưu
                                        </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 featured-responsive">
                        <div class="featured-place-wrap">
                            <a href="detail.html">
                                <img src="https://images.foody.vn/res/g67/664448/prof/s576x330/foody-upload-api-foody-mobile-sun-tea-1-190103161518.jpg" class="img-fluid img-product" alt="#">
                                <div class="featured-title-box f-content">
                                    <a href="#" class="shop-title">
                                        Tiger Sugar - Đường Nâu Sữa Đài Loan - Thái Phiên
                                    </a>
                                    <ul>
                                        <li>
                                            <p>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                            </p>
                                        </li>
                                        <li>
                                            <span class="icon-location-pin"></span>
                                            <p>So 84 Duy Tan, Ha noi</p>
                                        </li>
                                    </ul>
                                    <div class="items-review">
                                        <div class="avatar">
                                            <a href="#">
                                                <img class="img-profile rounded-circle img-profile" src="images/featured1.jpg">
                                            </a>
                                        </div>
                                        <div class="users-content block-with-text">
                                            <a href="#" target="_blank"><b>Nam Nguyen</b></a>
                                            <a href="" target="_blank">
                                                TigerSugar là hãng trà sữa đầu tiên làm mình mê mẩn đến như thế!
                                                Trân châu ở đây k giống như những chỗ khac đâu ạ.
                                                Mềm dẻo cực kì, kết hợp với sữa tươi thì đỉnh luôn ấy! Rate 10/10 ❤️❤️🤤
                                            </a>
                                        </div>

                                    </div>
                                    <div class="items-review">
                                        <span>3 Reviews</span>
                                        <a href="#" class="follow">
                                            <i class="fa fa-bookmark"></i>
                                            Lưu
                                        </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 featured-responsive">
                        <div class="featured-place-wrap">
                            <a href="detail.html">
                                <img src="https://images.foody.vn/res/g67/664448/prof/s576x330/foody-upload-api-foody-mobile-sun-tea-1-190103161518.jpg" class="img-fluid img-product" alt="#">
                                <div class="featured-title-box f-content">
                                    <a href="#" class="shop-title">
                                        Tiger Sugar - Đường Nâu Sữa Đài Loan - Thái Phiên
                                    </a>
                                    <ul>
                                        <li>
                                            <p>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                            </p>
                                        </li>
                                        <li>
                                            <span class="icon-location-pin"></span>
                                            <p>So 84 Duy Tan, Ha noi</p>
                                        </li>
                                    </ul>
                                    <div class="items-review">
                                        <div class="avatar">
                                            <a href="#">
                                                <img class="img-profile rounded-circle img-profile" src="images/featured1.jpg">
                                            </a>
                                        </div>
                                        <div class="users-content block-with-text">
                                            <a href="#" target="_blank"><b>Nam Nguyen</b></a>
                                            <a href="" target="_blank">
                                                TigerSugar là hãng trà sữa đầu tiên làm mình mê mẩn đến như thế!
                                                Trân châu ở đây k giống như những chỗ khac đâu ạ.
                                                Mềm dẻo cực kì, kết hợp với sữa tươi thì đỉnh luôn ấy! Rate 10/10 ❤️❤️🤤
                                            </a>
                                        </div>

                                    </div>
                                    <div class="items-review">
                                        <span>3 Reviews</span>
                                        <a href="#" class="follow">
                                            <i class="fa fa-bookmark"></i>
                                            Lưu
                                        </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 featured-responsive">
                        <div class="featured-place-wrap">
                            <a href="detail.html">
                                <img src="https://images.foody.vn/res/g67/664448/prof/s576x330/foody-upload-api-foody-mobile-sun-tea-1-190103161518.jpg" class="img-fluid img-product" alt="#">
                                <div class="featured-title-box f-content">
                                    <a href="#" class="shop-title">
                                        Tiger Sugar - Đường Nâu Sữa Đài Loan - Thái Phiên
                                    </a>
                                    <ul>
                                        <li>
                                            <p>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                            </p>
                                        </li>
                                        <li>
                                            <span class="icon-location-pin"></span>
                                            <p>So 84 Duy Tan, Ha noi</p>
                                        </li>
                                    </ul>
                                    <div class="items-review">
                                        <div class="avatar">
                                            <a href="#">
                                                <img class="img-profile rounded-circle img-profile" src="images/featured1.jpg">
                                            </a>
                                        </div>
                                        <div class="users-content block-with-text">
                                            <a href="#" target="_blank"><b>Nam Nguyen</b></a>
                                            <a href="" target="_blank">
                                                TigerSugar là hãng trà sữa đầu tiên làm mình mê mẩn đến như thế!
                                                Trân châu ở đây k giống như những chỗ khac đâu ạ.
                                                Mềm dẻo cực kì, kết hợp với sữa tươi thì đỉnh luôn ấy! Rate 10/10 ❤️❤️🤤
                                            </a>
                                        </div>

                                    </div>
                                    <div class="items-review">
                                        <span>3 Reviews</span>
                                        <a href="#" class="follow">
                                            <i class="fa fa-bookmark"></i>
                                            Lưu
                                        </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 featured-responsive">
                        <div class="featured-place-wrap">
                            <a href="detail.html">
                                <img src="https://images.foody.vn/res/g67/664448/prof/s576x330/foody-upload-api-foody-mobile-sun-tea-1-190103161518.jpg" class="img-fluid img-product" alt="#">
                                <div class="featured-title-box f-content">
                                    <a href="#" class="shop-title">
                                        Tiger Sugar - Đường Nâu Sữa Đài Loan - Thái Phiên
                                    </a>
                                    <ul>
                                        <li>
                                            <p>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                            </p>
                                        </li>
                                        <li>
                                            <span class="icon-location-pin"></span>
                                            <p>So 84 Duy Tan, Ha noi</p>
                                        </li>
                                    </ul>
                                    <div class="items-review">
                                        <div class="avatar">
                                            <a href="#">
                                                <img class="img-profile rounded-circle img-profile" src="images/featured1.jpg">
                                            </a>
                                        </div>
                                        <div class="users-content block-with-text">
                                            <a href="#" target="_blank"><b>Nam Nguyen</b></a>
                                            <a href="" target="_blank">
                                                TigerSugar là hãng trà sữa đầu tiên làm mình mê mẩn đến như thế!
                                                Trân châu ở đây k giống như những chỗ khac đâu ạ.
                                                Mềm dẻo cực kì, kết hợp với sữa tươi thì đỉnh luôn ấy! Rate 10/10 ❤️❤️🤤
                                            </a>
                                        </div>

                                    </div>
                                    <div class="items-review">
                                        <span>3 Reviews</span>
                                        <a href="#" class="follow">
                                            <i class="fa fa-bookmark"></i>
                                            Lưu
                                        </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 featured-responsive">
                        <div class="featured-place-wrap">
                            <a href="detail.html">
                                <img src="https://images.foody.vn/res/g67/664448/prof/s576x330/foody-upload-api-foody-mobile-sun-tea-1-190103161518.jpg" class="img-fluid img-product" alt="#">
                                <div class="featured-title-box f-content">
                                    <a href="#" class="shop-title">
                                        Tiger Sugar - Đường Nâu Sữa Đài Loan - Thái Phiên
                                    </a>
                                    <ul>
                                        <li>
                                            <p>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                            </p>
                                        </li>
                                        <li>
                                            <span class="icon-location-pin"></span>
                                            <p>So 84 Duy Tan, Ha noi</p>
                                        </li>
                                    </ul>
                                    <div class="items-review">
                                        <div class="avatar">
                                            <a href="#">
                                                <img class="img-profile rounded-circle img-profile" src="images/featured1.jpg">
                                            </a>
                                        </div>
                                        <div class="users-content block-with-text">
                                            <a href="#" target="_blank"><b>Nam Nguyen</b></a>
                                            <a href="" target="_blank">
                                                TigerSugar là hãng trà sữa đầu tiên làm mình mê mẩn đến như thế!
                                                Trân châu ở đây k giống như những chỗ khac đâu ạ.
                                                Mềm dẻo cực kì, kết hợp với sữa tươi thì đỉnh luôn ấy! Rate 10/10 ❤️❤️🤤
                                            </a>
                                        </div>

                                    </div>
                                    <div class="items-review">
                                        <span>3 Reviews</span>
                                        <a href="#" class="follow">
                                            <i class="fa fa-bookmark"></i>
                                            Lưu
                                        </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row list mt-4">
            <div class="col-sm-12 yummy-toolbar">
                <div class="ym-clearbox" style="top: 0">
                    <ul>
                        <li><a href="#" class="current">Moi Nhat</a></li>
                        <li><a href="#">Da Luu</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 pt-2">
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3 featured-responsive">
                        <div class="featured-place-wrap">
                            <a href="detail.html">
                                <img src="https://images.foody.vn/res/g67/664448/prof/s576x330/foody-upload-api-foody-mobile-sun-tea-1-190103161518.jpg" class="img-fluid img-product" alt="#">
                                <div class="featured-title-box f-content">
                                    <a href="#" class="shop-title">
                                        Tiger Sugar - Đường Nâu Sữa Đài Loan - Thái Phiên
                                    </a>
                                    <ul>
                                        <li>
                                            <p>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                            </p>
                                        </li>
                                        <li>
                                            <span class="icon-location-pin"></span>
                                            <p>So 84 Duy Tan, Ha noi</p>
                                        </li>
                                    </ul>
                                    <div class="items-review">
                                        <div class="avatar">
                                            <a href="#">
                                                <img class="img-profile rounded-circle img-profile" src="images/featured1.jpg">
                                            </a>
                                        </div>
                                        <div class="users-content block-with-text">
                                            <a href="#" target="_blank"><b>Nam Nguyen</b></a>
                                            <a href="" target="_blank">
                                                TigerSugar là hãng trà sữa đầu tiên làm mình mê mẩn đến như thế!
                                                Trân châu ở đây k giống như những chỗ khac đâu ạ.
                                                Mềm dẻo cực kì, kết hợp với sữa tươi thì đỉnh luôn ấy! Rate 10/10 ❤️❤️🤤
                                            </a>
                                        </div>

                                    </div>
                                    <div class="items-review">
                                        <span>3 Reviews</span>
                                        <a href="#" class="follow">
                                            <i class="fa fa-bookmark"></i>
                                            Lưu
                                        </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 featured-responsive">
                        <div class="featured-place-wrap">
                            <a href="detail.html">
                                <img src="https://images.foody.vn/res/g67/664448/prof/s576x330/foody-upload-api-foody-mobile-sun-tea-1-190103161518.jpg" class="img-fluid img-product" alt="#">
                                <div class="featured-title-box f-content">
                                    <a href="#" class="shop-title">
                                        Tiger Sugar - Đường Nâu Sữa Đài Loan - Thái Phiên
                                    </a>
                                    <ul>
                                        <li>
                                            <p>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                            </p>
                                        </li>
                                        <li>
                                            <span class="icon-location-pin"></span>
                                            <p>So 84 Duy Tan, Ha noi</p>
                                        </li>
                                    </ul>
                                    <div class="items-review">
                                        <div class="avatar">
                                            <a href="#">
                                                <img class="img-profile rounded-circle img-profile" src="images/featured1.jpg">
                                            </a>
                                        </div>
                                        <div class="users-content block-with-text">
                                            <a href="#" target="_blank"><b>Nam Nguyen</b></a>
                                            <a href="" target="_blank">
                                                TigerSugar là hãng trà sữa đầu tiên làm mình mê mẩn đến như thế!
                                                Trân châu ở đây k giống như những chỗ khac đâu ạ.
                                                Mềm dẻo cực kì, kết hợp với sữa tươi thì đỉnh luôn ấy! Rate 10/10 ❤️❤️🤤
                                            </a>
                                        </div>

                                    </div>
                                    <div class="items-review">
                                        <span>3 Reviews</span>
                                        <a href="#" class="follow">
                                            <i class="fa fa-bookmark"></i>
                                            Lưu
                                        </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 featured-responsive">
                        <div class="featured-place-wrap">
                            <a href="detail.html">
                                <img src="https://images.foody.vn/res/g67/664448/prof/s576x330/foody-upload-api-foody-mobile-sun-tea-1-190103161518.jpg" class="img-fluid img-product" alt="#">
                                <div class="featured-title-box f-content">
                                    <a href="#" class="shop-title">
                                        Tiger Sugar - Đường Nâu Sữa Đài Loan - Thái Phiên
                                    </a>
                                    <ul>
                                        <li>
                                            <p>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                            </p>
                                        </li>
                                        <li>
                                            <span class="icon-location-pin"></span>
                                            <p>So 84 Duy Tan, Ha noi</p>
                                        </li>
                                    </ul>
                                    <div class="items-review">
                                        <div class="avatar">
                                            <a href="#">
                                                <img class="img-profile rounded-circle img-profile" src="images/featured1.jpg">
                                            </a>
                                        </div>
                                        <div class="users-content block-with-text">
                                            <a href="#" target="_blank"><b>Nam Nguyen</b></a>
                                            <a href="" target="_blank">
                                                TigerSugar là hãng trà sữa đầu tiên làm mình mê mẩn đến như thế!
                                                Trân châu ở đây k giống như những chỗ khac đâu ạ.
                                                Mềm dẻo cực kì, kết hợp với sữa tươi thì đỉnh luôn ấy! Rate 10/10 ❤️❤️🤤
                                            </a>
                                        </div>

                                    </div>
                                    <div class="items-review">
                                        <span>3 Reviews</span>
                                        <a href="#" class="follow">
                                            <i class="fa fa-bookmark"></i>
                                            Lưu
                                        </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 featured-responsive">
                        <div class="featured-place-wrap">
                            <a href="detail.html">
                                <img src="https://images.foody.vn/res/g67/664448/prof/s576x330/foody-upload-api-foody-mobile-sun-tea-1-190103161518.jpg" class="img-fluid img-product" alt="#">
                                <div class="featured-title-box f-content">
                                    <a href="#" class="shop-title">
                                        Tiger Sugar - Đường Nâu Sữa Đài Loan - Thái Phiên
                                    </a>
                                    <ul>
                                        <li>
                                            <p>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                            </p>
                                        </li>
                                        <li>
                                            <span class="icon-location-pin"></span>
                                            <p>So 84 Duy Tan, Ha noi</p>
                                        </li>
                                    </ul>
                                    <div class="items-review">
                                        <div class="avatar">
                                            <a href="#">
                                                <img class="img-profile rounded-circle img-profile" src="images/featured1.jpg">
                                            </a>
                                        </div>
                                        <div class="users-content block-with-text">
                                            <a href="#" target="_blank"><b>Nam Nguyen</b></a>
                                            <a href="" target="_blank">
                                                TigerSugar là hãng trà sữa đầu tiên làm mình mê mẩn đến như thế!
                                                Trân châu ở đây k giống như những chỗ khac đâu ạ.
                                                Mềm dẻo cực kì, kết hợp với sữa tươi thì đỉnh luôn ấy! Rate 10/10 ❤️❤️🤤
                                            </a>
                                        </div>

                                    </div>
                                    <div class="items-review">
                                        <span>3 Reviews</span>
                                        <a href="#" class="follow">
                                            <i class="fa fa-bookmark"></i>
                                            Lưu
                                        </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 featured-responsive">
                        <div class="featured-place-wrap">
                            <a href="detail.html">
                                <img src="https://images.foody.vn/res/g67/664448/prof/s576x330/foody-upload-api-foody-mobile-sun-tea-1-190103161518.jpg" class="img-fluid img-product" alt="#">
                                <div class="featured-title-box f-content">
                                    <a href="#" class="shop-title">
                                        Tiger Sugar - Đường Nâu Sữa Đài Loan - Thái Phiên
                                    </a>
                                    <ul>
                                        <li>
                                            <p>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                            </p>
                                        </li>
                                        <li>
                                            <span class="icon-location-pin"></span>
                                            <p>So 84 Duy Tan, Ha noi</p>
                                        </li>
                                    </ul>
                                    <div class="items-review">
                                        <div class="avatar">
                                            <a href="#">
                                                <img class="img-profile rounded-circle img-profile" src="images/featured1.jpg">
                                            </a>
                                        </div>
                                        <div class="users-content block-with-text">
                                            <a href="#" target="_blank"><b>Nam Nguyen</b></a>
                                            <a href="" target="_blank">
                                                TigerSugar là hãng trà sữa đầu tiên làm mình mê mẩn đến như thế!
                                                Trân châu ở đây k giống như những chỗ khac đâu ạ.
                                                Mềm dẻo cực kì, kết hợp với sữa tươi thì đỉnh luôn ấy! Rate 10/10 ❤️❤️🤤
                                            </a>
                                        </div>

                                    </div>
                                    <div class="items-review">
                                        <span>3 Reviews</span>
                                        <a href="#" class="follow">
                                            <i class="fa fa-bookmark"></i>
                                            Lưu
                                        </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 featured-responsive">
                        <div class="featured-place-wrap">
                            <a href="detail.html">
                                <img src="https://images.foody.vn/res/g67/664448/prof/s576x330/foody-upload-api-foody-mobile-sun-tea-1-190103161518.jpg" class="img-fluid img-product" alt="#">
                                <div class="featured-title-box f-content">
                                    <a href="#" class="shop-title">
                                        Tiger Sugar - Đường Nâu Sữa Đài Loan - Thái Phiên
                                    </a>
                                    <ul>
                                        <li>
                                            <p>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                            </p>
                                        </li>
                                        <li>
                                            <span class="icon-location-pin"></span>
                                            <p>So 84 Duy Tan, Ha noi</p>
                                        </li>
                                    </ul>
                                    <div class="items-review">
                                        <div class="avatar">
                                            <a href="#">
                                                <img class="img-profile rounded-circle img-profile" src="images/featured1.jpg">
                                            </a>
                                        </div>
                                        <div class="users-content block-with-text">
                                            <a href="#" target="_blank"><b>Nam Nguyen</b></a>
                                            <a href="" target="_blank">
                                                TigerSugar là hãng trà sữa đầu tiên làm mình mê mẩn đến như thế!
                                                Trân châu ở đây k giống như những chỗ khac đâu ạ.
                                                Mềm dẻo cực kì, kết hợp với sữa tươi thì đỉnh luôn ấy! Rate 10/10 ❤️❤️🤤
                                            </a>
                                        </div>

                                    </div>
                                    <div class="items-review">
                                        <span>3 Reviews</span>
                                        <a href="#" class="follow">
                                            <i class="fa fa-bookmark"></i>
                                            Lưu
                                        </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 featured-responsive">
                        <div class="featured-place-wrap">
                            <a href="detail.html">
                                <img src="https://images.foody.vn/res/g67/664448/prof/s576x330/foody-upload-api-foody-mobile-sun-tea-1-190103161518.jpg" class="img-fluid img-product" alt="#">
                                <div class="featured-title-box f-content">
                                    <a href="#" class="shop-title">
                                        Tiger Sugar - Đường Nâu Sữa Đài Loan - Thái Phiên
                                    </a>
                                    <ul>
                                        <li>
                                            <p>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                            </p>
                                        </li>
                                        <li>
                                            <span class="icon-location-pin"></span>
                                            <p>So 84 Duy Tan, Ha noi</p>
                                        </li>
                                    </ul>
                                    <div class="items-review">
                                        <div class="avatar">
                                            <a href="#">
                                                <img class="img-profile rounded-circle img-profile" src="images/featured1.jpg">
                                            </a>
                                        </div>
                                        <div class="users-content block-with-text">
                                            <a href="#" target="_blank"><b>Nam Nguyen</b></a>
                                            <a href="" target="_blank">
                                                TigerSugar là hãng trà sữa đầu tiên làm mình mê mẩn đến như thế!
                                                Trân châu ở đây k giống như những chỗ khac đâu ạ.
                                                Mềm dẻo cực kì, kết hợp với sữa tươi thì đỉnh luôn ấy! Rate 10/10 ❤️❤️🤤
                                            </a>
                                        </div>

                                    </div>
                                    <div class="items-review">
                                        <span>3 Reviews</span>
                                        <a href="#" class="follow">
                                            <i class="fa fa-bookmark"></i>
                                            Lưu
                                        </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 featured-responsive">
                        <div class="featured-place-wrap">
                            <a href="detail.html">
                                <img src="https://images.foody.vn/res/g67/664448/prof/s576x330/foody-upload-api-foody-mobile-sun-tea-1-190103161518.jpg" class="img-fluid img-product" alt="#">
                                <div class="featured-title-box f-content">
                                    <a href="#" class="shop-title">
                                        Tiger Sugar - Đường Nâu Sữa Đài Loan - Thái Phiên
                                    </a>
                                    <ul>
                                        <li>
                                            <p>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                            </p>
                                        </li>
                                        <li>
                                            <span class="icon-location-pin"></span>
                                            <p>So 84 Duy Tan, Ha noi</p>
                                        </li>
                                    </ul>
                                    <div class="items-review">
                                        <div class="avatar">
                                            <a href="#">
                                                <img class="img-profile rounded-circle img-profile" src="images/featured1.jpg">
                                            </a>
                                        </div>
                                        <div class="users-content block-with-text">
                                            <a href="#" target="_blank"><b>Nam Nguyen</b></a>
                                            <a href="" target="_blank">
                                                TigerSugar là hãng trà sữa đầu tiên làm mình mê mẩn đến như thế!
                                                Trân châu ở đây k giống như những chỗ khac đâu ạ.
                                                Mềm dẻo cực kì, kết hợp với sữa tươi thì đỉnh luôn ấy! Rate 10/10 ❤️❤️🤤
                                            </a>
                                        </div>

                                    </div>
                                    <div class="items-review">
                                        <span>3 Reviews</span>
                                        <a href="#" class="follow">
                                            <i class="fa fa-bookmark"></i>
                                            Lưu
                                        </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <a href="#" class="btn-more">
                            Xem thêm...
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid top-user mt-4">
        <ul class="col-lg-12">
            <li style="list-style: none">
                <a href="#" style="color: #c00; font-size: 16px; font-weight: 800" class="pl-5">Top thành viên</a>
            </li>
        </ul>
        <div class="col-lg-12 justify-content-center">
            <div>
                gfgfgg
            </div>
        </div>
    </div>
</section>