<div class="fdi-comm">
  <img src="<%= comment.user.image.url if comment.user.image? %>" alt="">
  <div class="fdi-comm-right">
    <a href="#" class="fc-username"><b><%= comment.user.name %></b></a>
    <span><%= comment.content %></span>
  </div>
</div>
<hr>