<!--<footer class="main-block dark-bg" style="position: relative">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-md-12">-->
        <!--<div class="copyright">-->
          <!--&lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;-->
          <!--<p>Copyright &copy; 2019 <i-->
          <!--class="ti-heart" aria-hidden="true"></i><a href="https://colorlib.com" target="_blank"></a>-->
          <!--</p>-->
          <!--&lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;-->
          <!--<ul>-->
            <!--<li><a href="#"><span class="ti-facebook"></span></a></li>-->
            <!--<li><a href="#"><span class="ti-twitter-alt"></span></a></li>-->
            <!--<li><a href="#"><span class="ti-instagram"></span></a></li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</footer>-->

<footer class="bg1">
  <div class="container p-t-40 p-b-70">
    <div class="row">
      <div class="col-sm-6 col-md-4 p-t-50">
        <!-- - -->
        <h4 class="txt13 m-b-33 yummy-logo">
          Liên Hệ
        </h4>

        <ul class="m-b-70 p-l-0">
          <li class="txt14 m-b-14">
            <i class="fa fa-map-marker fs-16 dis-inline-block size19" aria-hidden="true"></i>
            Số 1 Đại Cồ Việt, Hai Bà Trưng, Hà Nội
          </li>

          <li class="txt14 m-b-14">
            <i class="fa fa-phone fs-16 dis-inline-block size19" aria-hidden="true"></i>
            (+84) 96 716 6879
          </li>

          <li class="txt14 m-b-14">
            <i class="fa fa-envelope fs-13 dis-inline-block size19" aria-hidden="true"></i>
            contact@yummy.com
          </li>
        </ul>

        <!-- - -->
        <!--<h4 class="txt13 m-b-32">-->
          <!--Opening Times-->
        <!--</h4>-->

        <!--<ul class="p-l-0">-->
          <!--<li class="txt14">-->
            <!--09:30 AM – 11:00 PM-->
          <!--</li>-->

          <!--<li class="txt14">-->
            <!--Every Day-->
          <!--</li>-->
        <!--</ul>-->
      </div>

      <div class="col-sm-6 col-md-4 p-t-50">
        <!-- - -->
        <h4 class="txt13 m-b-33 yummy-logo">
          Yummy
        </h4>

        <div class="m-b-25">

          <p class="txt14 m-b-18">
            Yummy luôn sẵn sàng hợp tác với các nhà hàng, quán ăn, cafe... để mở rộng kinh doanh cũng như gia tăng khách hàng. Hãy kết nối vào hệ thống đặt và giao hàng để giảm bớt chi phí quản lý, vận hành, marketing, công nghệ...
          </p>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 p-t-50">
        <!-- - -->
        <h4 class="txt13 m-b-38 yummy-logo">
          Image
        </h4>

        <!-- Gallery footer -->
        <div class="wrap-gallery-footer flex-w">
          <a class="item-gallery-footer wrap-pic-w image-link" href="/images/featured1.jpg" data-lightbox="gallery-footer">
            <img src="/images/featured1.jpg" alt="GALLERY">
          </a>
          <a class="item-gallery-footer wrap-pic-w image-link" href="/images/featured2.jpg" data-lightbox="gallery-footer">
            <img src="/images/featured2.jpg" alt="GALLERY">
          </a>
          <a class="item-gallery-footer wrap-pic-w image-link" href="/images/featured3.jpg" data-lightbox="gallery-footer">
            <img src="/images/featured3.jpg" alt="GALLERY">
          </a>
          <a class="item-gallery-footer wrap-pic-w image-link" href="/images/featured4.jpg" data-lightbox="gallery-footer">
            <img src="/images/featured4.jpg" alt="GALLERY">
          </a>
          <a class="item-gallery-footer wrap-pic-w image-link" href="/images/featured4.jpg" data-lightbox="gallery-footer">
            <img src="/images/featured4.jpg" alt="GALLERY">
          </a>
          <a class="item-gallery-footer wrap-pic-w image-link" href="/images/featured4.jpg" data-lightbox="gallery-footer">
            <img src="/images/featured4.jpg" alt="GALLERY">
          </a>
          <a class="item-gallery-footer wrap-pic-w image-link" href="/images/featured4.jpg" data-lightbox="gallery-footer">
            <img src="/images/featured4.jpg" alt="GALLERY">
          </a>
          <a class="item-gallery-footer wrap-pic-w image-link" href="/images/featured4.jpg" data-lightbox="gallery-footer">
            <img src="/images/featured4.jpg" alt="GALLERY">
          </a>


        </div>

      </div>
    </div>
  </div>
</footer>